.listMovieTheater {
  width: 100%;
  margin-top: 10px;
  .listMovieTheaterItem {
    position: relative;
    margin-top: 20px;
    .container {
      display: flex;
      width: max-content;
    }
    .singleItemPlace {
      display: inline-block;
      width: 20%;
    }
  }
}
